/* :root {
  --main-clr: #2196f3;
  --dark-grey-clr: #2f303a;
  --light-clr: #f5f5f5;
  --light-grey-clr: #f5f4fa;
  --grey-txt-clr: #757575;
  --dark-txt-clr: #212121;
  --light-txt-clr: #ffffff;
  --foot-grey-clr: rgba(255, 255, 255, 0.6);
  --dark-clr: #000000;
  --btn-clr: #188ce8;
  --icon-color: #afb1b8;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

/* .nav,
.info {
  display: flex;
  align-items: center;
}

.nav {
  margin-right: auto;
} */

/* .body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-txt-clr);
  font-size: 14px;
  letter-spacing: 0.03em;
} */

/* .header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 32px 0;
}

.webt {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--main-clr);
}

.web {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--dark-clr);
  text-decoration: none;
  margin-right: 92px;
}

.nav__list,
.info {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-txt-clr);
  text-decoration: none;
  position: relative;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.current {
  color: var(--main-clr);
}

.nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -8px;
  background-color: var(--main-clr);
  border-radius: 2px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--main-clr);
  fill: var(--main-clr);
}

.nav__link--data {
  color: var(--grey-txt-clr);
  fill: var(--grey-txt-clr);
}

.mail__svg {
  margin-right: 10px;
}

.tel__svg {
  margin-right: 10px;
} */

/* .hero {
  background-color: var(--dark-grey-clr);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/business.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-clr);
  flex-wrap: wrap;
  width: 696px;
  margin: 0 auto 30px;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: block;
  cursor: pointer;
  color: var(--light-txt-clr);
  background-color: var(--main-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover {
  background-color: var(--btn-clr);
} */

/* .benefits__container {
  display: flex;
}

.benefits {
  padding: 94px 0;
}

.benefits__list {
  display: flex;
  gap: 30px;
  padding-left: 0;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .benefits__block {
  height: 120px;
  background-color: var(--light-grey-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits__item {
  list-style: none;
  width: 270px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-txt-clr);
  text-decoration: none;
  margin-bottom: 10px;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--grey-txt-clr);
  gap: 30px;
} */

/* .images {
  padding-bottom: 94px;
}

.images__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumb-images {
  position: relative;
}

.images__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-txt-clr);
  size: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.images__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.images__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
  margin-bottom: 50px;
}

.images__list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
} */
/* .team {
  background-color: var(--light-grey-clr);
}

.person__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.person__list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.person__team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
  margin-bottom: 50px;
}

.person__text {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
  margin-bottom: 10px;
}

.social__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-txt-clr);
}

.social__container {
  padding: 30px 0;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  margin-top: 16px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--light-txt-clr);
  border-radius: 50%;
  fill: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--main-clr);
  fill: var(--light-txt-clr);
} */

/* .clients {
  padding: 94px 0;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--dark-txt-clr);
}

.clients__list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 30px;
}

.clients__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__link {
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--main-clr);
  border: 1px solid var(--main-clr);
} */

/* .footer__container {
  padding: 60px 0;
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer {
  background-color: var(--dark-grey-clr);
}

.footer__web {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--light-txt-clr);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;
}

.footer__nav {
  list-style: none;
  padding-left: 0;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--light-txt-clr);
  text-decoration: none;
  margin-bottom: 9px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__text:last-child {
  margin-bottom: 0px;
}

.footer__text:hover {
  color: var(--main-clr);
}

.footer__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--foot-grey-clr);
  text-decoration: none;
  display: inline-block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover {
  color: var(--main-clr);
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--foot-grey-clr);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover {
  color: var(--main-clr);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-clr);
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
  margin-top: 20px;
}

.footer__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--light-txt-clr);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  background-color: var(--main-clr);
  fill: var(--light-txt-clr);
} */

/* .port {
  padding-top: 94px;
  padding-bottom: 94px;
}

.port__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.port__title {
  display: none;
}

.port__btns {
  list-style: none;
  display: flex;
  gap: 8px;
  padding-left: 0;
  margin-bottom: 50px;
}

.port__btn {
  cursor: pointer;
  background-color: var(--light-grey-clr);
  border: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  padding: 6px 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port__btn:hover,
.port__btn:focus {
  background-color: var(--main-clr);
  color: var(--light-txt-clr);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

.port__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 94px;
}

.port__div {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.port__item {
  background-color: #ffffff;
  border: 0 solid #eeeeee;
  list-style: none;
  width: calc((100% - 60px) / 3);
  padding: 0;
}

.port__link:hover,
.port__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port__link {
  display: block;
  text-decoration: none;
  color: var(--dark-txt-clr);
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-port {
  position: relative;
  overflow: hidden;
}

.port__link:hover .port__overlay,
.port__link:focus .port__overlay {
  transform: translateY(0);
}

.port__overlay {
  position: absolute;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  color: var(--light-txt-clr);
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;
  color: var(--light-txt-clr);
}

.port__titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-txt-clr);
} */

/* .vector {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.vector__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--light-txt-clr);
}

.svg__vector:hover,
.svg__vector:focus {
  fill: var(--main-clr);
}

.vector.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.vector__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: var(--light-txt-clr);
  padding: 40px;
} */

/* .form__mail {
  background-color: var(--dark-grey-clr);
  padding: 24px 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  color: var(--light-txt-clr);
  margin-right: 12px;
}

.footer__form {
  display: flex;
}

.footer__cont {
  margin-left: auto;
}

.footer__btn {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  position: relative;
  cursor: pointer;
  color: var(--light-txt-clr);
  background-color: var(--main-clr);
  border-radius: 4px;
  border: transparent;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  letter-spacing: 0.03em;
  gap: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__btn:hover {
  background-color: var(--btn-clr);
} */

/* .form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-clr);
  margin-bottom: 12px;
}

.textarea__text {
  width: 100%;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.textarea__text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea__text:hover,
.textarea__text:focus {
  border: 1px solid var(--main-clr);
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  cursor: text;
  padding: 0 42px;
  outline: transparent;
}

.field:hover,
.field:focus {
  border: 1px solid var(--main-clr);
}

.modal__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  display: block;

  color: var(--grey-txt-clr);
}

.modal__span {
  position: relative;
}

.svg__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.field:focus ~ .svg__icon {
  fill: var(--main-clr);
}

.check:checked + .svg__check .icon-unchecked {
  opacity: 1;
}

.check:checked + .svg__check .icon-checked {
  opacity: 0;
}

.icon-checked {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check__span {
  position: absolute;
  left: 60px;
  display: contents;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--grey-txt-clr);
}

.svg__check {
  outline: transparent;
  height: 15px;
  margin-right: 8px;
}

.label__check {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.icon-check {
}

.icon-uncheck {
}

.treaty__link {
  color: var(--main-clr);
}

.check__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--light-txt-clr);
  background-color: var(--main-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: transparent;
  margin: 0 auto;
  width: 200px;
  flex-direction: column;
  display: block;
}

.check__btn:hover {
  background-color: var(--btn-clr);
} */
