.footer {
  background-color: var(--dark-grey-clr);
  margin-right: 0;

  &__container {
    padding: 60px 15px;
    display: flex;
    align-items: baseline;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__address {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 300px) and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      margin-right: 70px;
    }
  }

  &__web {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    color: var(--light-txt-clr);
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    font-style: normal;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      display: inline-block;
    }
  }

  &__nav {
    list-style: none;
    padding-left: 0;

    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: var(--light-txt-clr);
    text-decoration: none;
    margin-bottom: 9px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text:last-child {
    margin-bottom: 0px;
  }

  &__text:hover {
    color: var(--main-clr);
  }

  &__mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: var(--foot-grey-clr);
    text-decoration: none;
    display: inline-block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__mail:hover {
    color: var(--main-clr);
  }

  &__tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: var(--foot-grey-clr);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__tel:hover {
    color: var(--main-clr);
  }

  &__title-come {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-clr);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      margin-top: 12px;
      display: block;
    }
  }

  &__title-send {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-clr);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 20px;
    }
  }

  &__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--light-txt-clr);

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--main-clr);
    fill: var(--light-txt-clr);
  }

  &__form {
    display: flex;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
      justify-content: center;
    }
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__cont {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 300px) and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__send {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 570px;
    }
  }

  &__btn {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    position: relative;
    cursor: pointer;
    color: var(--light-txt-clr);
    background-color: var(--main-clr);
    border-radius: 4px;
    border: transparent;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    letter-spacing: 0.03em;
    gap: 12px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__btn:hover {
    background-color: var(--btn-clr);
  }

  &__tab {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
}

.form__mail {
  background-color: var(--dark-grey-clr);
  padding: 24px 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  color: var(--light-txt-clr);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}
