.nav,
.info {
  display: flex;
  position: relative;
}

.nav {
  margin-right: auto;
  align-items: center;

  &__link {
    display: none;
    gap: 10px;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--dark-clr);
    fill: var(--grey-txt-clr);
    text-decoration: none;
    padding: 32px 0;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      display: flex;
      padding: 0;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &:hover,
    &:focus {
      color: var(--main-clr);
      fill: var(--main-clr);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    position: relative;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      gap: 50px;
    }
  }

  &__link.current {
    color: var(--main-clr);
    position: relative;
  }

  &__link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -30px;
    background-color: var(--main-clr);
    border-radius: 2px;

    @media screen and (min-width: 1200px) {
      bottom: -1px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--main-clr);
    fill: var(--main-clr);
  }

  &__link--data {
    color: var(--grey-txt-clr);
    fill: var(--grey-txt-clr);
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 16px 0;
  position: relative;

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.icon__navigator {
  display: flex;
  position: absolute;
  top: 40px;
  right: 10px;
  transform: translate(-50%);
}

.webt {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--main-clr);
}

.web {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--dark-clr);
  text-decoration: none;
  margin-right: 87px;

  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }

  @media screen and (min-width: 768px) and (msx-width: 1199px) {
    margin-right: 87px;
  }
}

.info {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}

.mail__svg {
  margin-right: 8px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    width: 14px;
    height: 10px;
  }
}

.tel__svg {
  margin-right: 8px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    width: 10px;
    height: 14px;
  }
}

.menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu_btn {
    display: none;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 480px) {
    display: none;
  }
}

.menu__svg {
  @media screen and (min-width: 480px) {
    display: none;
  }
}
