.hero {
  background-color: var(--dark-grey-clr);
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/business2x.jpg);
  background-size: cover;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  @media screen and (min-width: 300px) and (max-width: 767px) {
    background-image:
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/business1.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image:
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/business-tab.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image:
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/business.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .container.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-clr);
    flex-wrap: wrap;
    width: 100%;
    height: 84px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 30px;
    display: flex;

    
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    display: block;
    cursor: pointer;
    color: var(--light-txt-clr);
    background-color: var(--main-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      margin-top: 30px;
    }
  }

  &__btn:hover {
    background-color: var(--btn-clr);
  }
}
