.body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-txt-clr);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
