:root {
    --main-clr: #2196f3;
    --dark-grey-clr: #2f303a;
    --light-clr: #f5f5f5;
    --light-grey-clr: #f5f4fa;
    --grey-txt-clr: #757575;
    --dark-txt-clr: #212121;
    --light-txt-clr: #ffffff;
    --foot-grey-clr: rgba(255, 255, 255, 0.6);
    --dark-clr: #000000;
    --btn-clr: #188ce8;
    --icon-color: #afb1b8;

    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}